* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
  font-size: 62.5%;
}

fieldset {
  border: none;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  padding: 80px 40px;
  width: 260px;
  font-size: 1.3rem;
  font-weight: 600;
}

.form-card {
}

.form-card .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card .title {
  text-align: center;
  margin-bottom: 10px;
}

.form fieldset {
  display: flex;
}

fieldset input {
  width: 100%;
}

.form fieldset > * {
  flex: 1;
}

.form button {
  margin-top: 10px;
  border-radius: 5px;
  width: 50%;
  margin: 10px auto 0;
  font-size: inherit;
  font-weight: inherit;
}

.close {
  border: none;
  background: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.result-card {
  display: none;
  padding: 100
}

.result-card p {
  margin-top: 30px;
}